@font-face {
    font-family: vt323;
    src: url(mars.ttf);
}

body {background-color: #0099ff;}

h1 {
    color: black;
    font-family: "vt323", sans-serif;
    font-size: 200%;}
p  {
    color: black;
    font-family: "vt323", sans-serif;
    font-size: 18pt;
}

h2 {color: Light green;
	font-family: "vt323", sans-serif;
	font-size: 165%;}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: #000066;
  cursor: url('cursor.ico'), default;
  font-size: 10pt;
}
a {
    color: black;
	cursor: url('cursor.ico'), default;
}

body {
	cursor: url('cursor.ico'), default;
	line-height: 200%;
}
ul	{font-size: 15pt;
	font-family: "vt323", sans-serif;}
	
hr { background-color: black; height: 1px; border: 0; }

.mpg-animate-fading{-webkit-animation:fading 10s infinite;animation:fading 5s infinite}

.mpg-content{max-width:980px;margin:auto}

.mpg-section{margin-top:16px!important;margin-bottom:16px!important}
